html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.text-detail {
  font-size: 1.1rem;
}

/* RE Boostrap*/
.form-control:focus, .form-control:active:focus, .form-check-input:focus {
  border-color: darkgray;
  box-shadow: 0 0 0 0.1rem lightgray !important;
}